# Porta em que o servidor irá rodar (Padrão: 8888)
MACHDOWN_PORT=8888

# Caso queira definir uma API KEY estática fixa na primeira execução (Opcional). 
# Se deixado em branco ou comentado, o servidor vai gerar um UUID automaticamente.
MACHDOWN_API_KEY=
