# Security / Environment
.env

# MachDown Specific
server/data/*.db*
server/downloads/
server/bin/
client/build/bin/

# Go
/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/bin/

# Svelte / Node.js
node_modules/
/build/
.svelte-kit/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs and Editors
.vscode/
.idea/
*.swp

# Certificates and Secrets
server/data/*.crt
server/data/*.key

# Compiled Binaries
server/server
server/machdown-server
client/machdown-client

# Temp Agent Files
*.patch
*.py
